body {
  font-family: "amarante", cursive;
  background-color: #cccccc;
}

* {
  box-sizing: border-box;
}

.main-section {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  float: inline-start;
}

h1 {
  float: inline-end;
  text-align: center;
}
